/*onglet vertical*/
.tab {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none;
    background-color: #f2f2f2;
    cursor: pointer;
    white-space: nowrap;
    transform-origin: left center;
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    left: 1%;
    margin-top: -50px;
}
.tab:hover {
    background-color: #ddd;
    display: block;
    width: 150px;
    height: 35%;
}
.tabcontent {
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    margin-left: 100px;
    display: none;
    color: black;
}
.tabcontent:hover {
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    margin-left: 100px;
    display: block;
    color: black;
}

/*Barre de menu horizontal_top*/
#top_menu {
    width: 70%;
    margin-left: 30%;
}

.welcome_button{
    margin-top: 10px;
    margin-left: 20px;
    width: 30%;
    display: inline-block; 
    font-weight: bold; 
    font-family: monospace; 
    font-size: 1.2rem; 
    text-transform: uppercase; 
    text-align: center; 
    padding: 1rem; color: #DDD; 
    background: #0069ff; 
    cursor: pointer; 
    border-radius: 7px; 
    transition: all 0.25s ease-out;   
}

.welcome_button:hover{
    background-color:cornflowerblue;
}
.welcome_button:hover a{
    color:cyan;
}

